.container {
  height: 100%;
  width: 100%;

  padding: 40;
  display: flex;
  justify-content: space-around;
  align-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.chart {
  height: 500px;
  width: 400px;
  margin: 50px;
  background-color: aliceblue;
  border-radius: 15px;
}


.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 500px;
  align-self: center;
}

.card {
  background-color: slateblue;
  margin: 10px;
  width: 275px;
  height: 200px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid white;
}

.cardTitle {
  font-size: 12px;
  font-weight: 600;
}

.image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}